In [106]:
import pandas as pd

df = pd.read_csv('./data/aqidataset.csv')

In [107]:
df

,Unnamed: 0,Date,Overall AQI Value,Main Pollutant,Site Name (of Overall AQI),Site ID (of Overall AQI),Source (of Overall AQI),Ozone,PM25,CO,PM10,NO2,AQI category,city,state
0,0,01/01/2023,28,Ozone,Connecticut Hill,36-109-9991,AQS,28,.,NaN,NaN,NaN,Good,Ithaca,NY
1,1,01/02/2023,26,Ozone,Connecticut Hill,36-109-9991,AQS,26,.,NaN,NaN,NaN,Good,Ithaca,NY
2,2,01/03/2023,21,Ozone,Connecticut Hill,36-109-9991,AQS,21,.,NaN,NaN,NaN,Good,Ithaca,NY
3,3,01/04/2023,25,Ozone,Connecticut Hill,36-109-9991,AQS,25,.,NaN,NaN,NaN,Good,Ithaca,NY
4,4,01/05/2023,31,Ozone,Connecticut Hill,36-109-9991,AQS,31,.,NaN,NaN,NaN,Good,Ithaca,NY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10919,10919,12/27/2023,54,PM2.5,TACOMA - ALEXANDER AVE,53-053-0031,AQS,40,54,2,.,26,Moderate,Seattle,WA
10920,10920,12/28/2023,41,PM2.5,DARRINGTON - FIR ST (Darrington High School),53-061-0020,AirNow,40,41,2,.,28,Good,Seattle,WA
10921,10921,12/29/2023,41,Ozone,MT RAINIER - JACKSON VISITIORS CENTER,53-053-0012,AQS,41,38,2,6,30,Good,Seattle,WA
10922,10922,12/30/2023,42,Ozone,MT RAINIER - JACKSON VISITIORS CENTER,53-053-0012,AQS,42,38,2,.,25,Good,Seattle,WA
10923,10923,12/31/2023,60,PM2.5,MARYSVILLE - 7TH AVE (Marysville Junior High),53-061-1007,AQS,39,60,3,.,30,Moderate,Seattle,WA

In [85]:
# Replace '.' with None
df.replace(to_replace = '.', value = None, inplace = True)

In [86]:
# Remove Empty Cells
df.dropna(inplace = True)

In [87]:
df

,Unnamed: 0,Date,Overall AQI Value,Main Pollutant,Site Name (of Overall AQI),Site ID (of Overall AQI),Source (of Overall AQI),Ozone,PM25,CO,PM10,NO2,AQI category,city,state
357,357,01/01/2023,74,PM2.5,REGIONAL OFFICE BUILDING,17-031-4007,AQS,15,74,7,26.0,21.0,Moderate,Chicago,IL
358,358,01/02/2023,73,PM2.5,Hammond- 167th St,18-089-0036,AQS,19,73,7,19.0,28.0,Moderate,Chicago,IL
359,359,01/03/2023,55,PM2.5,Hammond- 167th St,18-089-0036,AQS,19,55,6,31.0,25.0,Moderate,Chicago,IL
360,360,01/04/2023,37,PM2.5,VILLAGE GARAGE,17-031-0001,AQS,21,37,3,17.0,25.0,Good,Chicago,IL
361,361,01/05/2023,54,PM2.5,CHIWAUKEE PRAIRIE STATELINE,55-059-0019,AQS,20,54,5,19.0,29.0,Moderate,Chicago,IL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10909,10909,12/17/2023,83,PM2.5,MARYSVILLE - 7TH AVE (Marysville Junior High),53-061-1007,AQS,45,83,6,11,17,Moderate,Seattle,WA
10912,10912,12/20/2023,63,PM2.5,DARRINGTON - FIR ST (Darrington High School),53-061-0020,AirNow,41,63,7,6,25,Moderate,Seattle,WA
10915,10915,12/23/2023,56,PM2.5,MARYSVILLE - 7TH AVE (Marysville Junior High),53-061-1007,AQS,40,56,6,8,25,Moderate,Seattle,WA
10918,10918,12/26/2023,39,Ozone,MT RAINIER - JACKSON VISITIORS CENTER,53-053-0012,AQS,39,26,3,4,27,Good,Seattle,WA
10921,10921,12/29/2023,41,Ozone,MT RAINIER - JACKSON VISITIORS CENTER,53-053-0012,AQS,41,38,2,6,30,Good,Seattle,WA

In [88]:
# Remove ID-type columns
df.drop(['Unnamed: 0', 'Site ID (of Overall AQI)', 'Source (of Overall AQI)', 'Main Pollutant'], axis=1, inplace = True)

In [89]:
df

,Date,Overall AQI Value,Site Name (of Overall AQI),Ozone,PM25,CO,PM10,NO2,AQI category,city,state
357,01/01/2023,74,REGIONAL OFFICE BUILDING,15,74,7,26.0,21.0,Moderate,Chicago,IL
358,01/02/2023,73,Hammond- 167th St,19,73,7,19.0,28.0,Moderate,Chicago,IL
359,01/03/2023,55,Hammond- 167th St,19,55,6,31.0,25.0,Moderate,Chicago,IL
360,01/04/2023,37,VILLAGE GARAGE,21,37,3,17.0,25.0,Good,Chicago,IL
361,01/05/2023,54,CHIWAUKEE PRAIRIE STATELINE,20,54,5,19.0,29.0,Moderate,Chicago,IL
...,...,...,...,...,...,...,...,...,...,...,...
10909,12/17/2023,83,MARYSVILLE - 7TH AVE (Marysville Junior High),45,83,6,11,17,Moderate,Seattle,WA
10912,12/20/2023,63,DARRINGTON - FIR ST (Darrington High School),41,63,7,6,25,Moderate,Seattle,WA
10915,12/23/2023,56,MARYSVILLE - 7TH AVE (Marysville Junior High),40,56,6,8,25,Moderate,Seattle,WA
10918,12/26/2023,39,MT RAINIER - JACKSON VISITIORS CENTER,39,26,3,4,27,Good,Seattle,WA
10921,12/29/2023,41,MT RAINIER - JACKSON VISITIORS CENTER,41,38,2,6,30,Good,Seattle,WA

In [90]:
#Reset index of df
df.reset_index(drop=True, inplace=True)

In [91]:
df['Date']

0       01/01/2023
1       01/02/2023
2       01/03/2023
3       01/04/2023
4       01/05/2023
           ...
6489    12/17/2023
6490    12/20/2023
6491    12/23/2023
6492    12/26/2023
6493    12/29/2023
Name: Date, Length: 6494, dtype: object

In [92]:
# Seperate Date Month Year
date = []
month = []
year = []

for Date in df['Date']:
    date.append(Date[0:2])

for Month in df['Date']:
    month.append(Month[3:5])

for Year in df['Date']:
    year.append(Year[6:10])

In [93]:
dict = {'Date': date, 'Month': month, 'Year': year}

dict_df = pd.DataFrame(dict)
dict_df

     Date Month  Year
0      01    01  2023
1      01    02  2023
2      01    03  2023
3      01    04  2023
4      01    05  2023
...   ...   ...   ...
6489   12    17  2023
6490   12    20  2023
6491   12    23  2023
6492   12    26  2023
6493   12    29  2023

[6494 rows x 3 columns]

In [94]:
df.drop(['Date'], axis = 1, inplace = True)
df = pd.concat([df, dict_df], axis = 1)

In [95]:
# Remove Ducplicate
df.drop_duplicates(inplace = True)

In [96]:
df

,Overall AQI Value,Site Name (of Overall AQI),Ozone,PM25,CO,PM10,NO2,AQI category,city,state,Date,Month,Year
0,74,REGIONAL OFFICE BUILDING,15,74,7,26.0,21.0,Moderate,Chicago,IL,01,01,2023
1,73,Hammond- 167th St,19,73,7,19.0,28.0,Moderate,Chicago,IL,01,02,2023
2,55,Hammond- 167th St,19,55,6,31.0,25.0,Moderate,Chicago,IL,01,03,2023
3,37,VILLAGE GARAGE,21,37,3,17.0,25.0,Good,Chicago,IL,01,04,2023
4,54,CHIWAUKEE PRAIRIE STATELINE,20,54,5,19.0,29.0,Moderate,Chicago,IL,01,05,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6489,83,MARYSVILLE - 7TH AVE (Marysville Junior High),45,83,6,11,17,Moderate,Seattle,WA,12,17,2023
6490,63,DARRINGTON - FIR ST (Darrington High School),41,63,7,6,25,Moderate,Seattle,WA,12,20,2023
6491,56,MARYSVILLE - 7TH AVE (Marysville Junior High),40,56,6,8,25,Moderate,Seattle,WA,12,23,2023
6492,39,MT RAINIER - JACKSON VISITIORS CENTER,39,26,3,4,27,Good,Seattle,WA,12,26,2023
6493,41,MT RAINIER - JACKSON VISITIORS CENTER,41,38,2,6,30,Good,Seattle,WA,12,29,2023

In [98]:
#Change type of some columns to float64
df[['Overall AQI Value', 'Ozone', 'PM25', 'CO', 'PM10', 'NO2', 'Date', 'Month', 'Year']] = df[['Overall AQI Value', 'Ozone', 'PM25', 'CO', 'PM10', 'NO2', 'Date', 'Month', 'Year']].astype('float')

In [99]:
#Change type of some columns to int64
df[['Overall AQI Value', 'Ozone', 'PM25', 'CO', 'PM10', 'NO2', 'Date', 'Month', 'Year']] = df[['Overall AQI Value', 'Ozone', 'PM25', 'CO', 'PM10', 'NO2', 'Date', 'Month', 'Year']].astype('int64')

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6494 entries, 0 to 6493
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Overall AQI Value           6494 non-null   int64
 1   Site Name (of Overall AQI)  6494 non-null   object
 2   Ozone                       6494 non-null   int64
 3   PM25                        6494 non-null   int64
 4   CO                          6494 non-null   int64
 5   PM10                        6494 non-null   int64
 6   NO2                         6494 non-null   int64
 7   AQI category                6494 non-null   object
 8   city                        6494 non-null   object
 9   state                       6494 non-null   object
 10  Date                        6494 non-null   int64
 11  Month                       6494 non-null   int64
 12  Year                        6494 non-null   int64
dtypes: int64(9), object(4)
memory usage: 659.7+ KB

In [104]:
df.to_csv('./data/Processing_01.csv', index = False)