In [2]:
import pandas as pd

df = pd.read_csv('./data/Processing_01.csv')

In [3]:
df

,Overall AQI Value,Site Name (of Overall AQI),Ozone,PM25,CO,PM10,NO2,AQI category,city,state,Date,Month,Year
0,74,REGIONAL OFFICE BUILDING,15,74,7,26,21,Moderate,Chicago,IL,1,1,2023
1,73,Hammond- 167th St,19,73,7,19,28,Moderate,Chicago,IL,1,2,2023
2,55,Hammond- 167th St,19,55,6,31,25,Moderate,Chicago,IL,1,3,2023
3,37,VILLAGE GARAGE,21,37,3,17,25,Good,Chicago,IL,1,4,2023
4,54,CHIWAUKEE PRAIRIE STATELINE,20,54,5,19,29,Moderate,Chicago,IL,1,5,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6489,83,MARYSVILLE - 7TH AVE (Marysville Junior High),45,83,6,11,17,Moderate,Seattle,WA,12,17,2023
6490,63,DARRINGTON - FIR ST (Darrington High School),41,63,7,6,25,Moderate,Seattle,WA,12,20,2023
6491,56,MARYSVILLE - 7TH AVE (Marysville Junior High),40,56,6,8,25,Moderate,Seattle,WA,12,23,2023
6492,39,MT RAINIER - JACKSON VISITIORS CENTER,39,26,3,4,27,Good,Seattle,WA,12,26,2023
6493,41,MT RAINIER - JACKSON VISITIORS CENTER,41,38,2,6,30,Good,Seattle,WA,12,29,2023

In [4]:
# One hot encoding for Site Name
df_SN_OHE = pd.get_dummies(df['Site Name (of Overall AQI)'], dtype = int)

# Drop one column to avoid dummies variable trap
df_SN_OHE = df_SN_OHE.drop(['YORK (LANDFILL)'], axis = 'columns')
df_SN_OHE

,A420910013LAT/LON POINT IS OF CORNER OF TRAILER,Air Management Services Laboratory (AMS LAB),Aldino,Allen Park,Anaheim,Anaheim Near-Road,Ancora State Hospital,Andersen School,Anoka County Airport,Apple Valley,...,WASHINGTON HS,WATER PLANT,WEST 43RD AVENUE,WEST PHOENIX,WINTER PARK,Welby,West Johnston Co.,Widewater Elementary School,Wittkop Park,YACOLT - YACOLT RD
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6489,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6490,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6491,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6492,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6493,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
# One Hot Encoding for city
df_city_OHE = pd.get_dummies(df['city'], dtype = int)

# Drop one column to avoid dummies variable trap
df_city_OHE = df_city_OHE.drop(['Washington'], axis = 'columns')
df_city_OHE

,Athens,Baltimore,Boston,Charlotte,Chicago,Cleveland,Dallas,Denver,Detroit,Houston,...,Minneapolis,New York,Orlando,Philadelphia,Phoenix,Portland,Raleigh,Richmond,San Francisco,Seattle
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6489,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
6490,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
6491,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
6492,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
6493,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [6]:
# One Hot Encoding for state
df_state_OHE = pd.get_dummies(df['state'], dtype = int)

# Drop one column to avoid dummies variable trap
df_state_OHE = df_state_OHE.drop(['WA'], axis = 'columns')
df_state_OHE

      AZ  CA  CO  DC  FL  GA  IL  MA  MD  MI  MN  NC  NY  OH  OR  PA  TX  VA
0      0   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0
1      0   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0
2      0   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0
3      0   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0
4      0   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0
...   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
6489   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
6490   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
6491   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
6492   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
6493   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0

[6494 rows x 18 columns]

In [7]:
df_OHE = pd.concat([df, df_SN_OHE, df_city_OHE, df_state_OHE], axis = 'columns')
df_OHE

,Overall AQI Value,Site Name (of Overall AQI),Ozone,PM25,CO,PM10,NO2,AQI category,city,state,...,MD,MI,MN,NC,NY,OH,OR,PA,TX,VA
0,74,REGIONAL OFFICE BUILDING,15,74,7,26,21,Moderate,Chicago,IL,...,0,0,0,0,0,0,0,0,0,0
1,73,Hammond- 167th St,19,73,7,19,28,Moderate,Chicago,IL,...,0,0,0,0,0,0,0,0,0,0
2,55,Hammond- 167th St,19,55,6,31,25,Moderate,Chicago,IL,...,0,0,0,0,0,0,0,0,0,0
3,37,VILLAGE GARAGE,21,37,3,17,25,Good,Chicago,IL,...,0,0,0,0,0,0,0,0,0,0
4,54,CHIWAUKEE PRAIRIE STATELINE,20,54,5,19,29,Moderate,Chicago,IL,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6489,83,MARYSVILLE - 7TH AVE (Marysville Junior High),45,83,6,11,17,Moderate,Seattle,WA,...,0,0,0,0,0,0,0,0,0,0
6490,63,DARRINGTON - FIR ST (Darrington High School),41,63,7,6,25,Moderate,Seattle,WA,...,0,0,0,0,0,0,0,0,0,0
6491,56,MARYSVILLE - 7TH AVE (Marysville Junior High),40,56,6,8,25,Moderate,Seattle,WA,...,0,0,0,0,0,0,0,0,0,0
6492,39,MT RAINIER - JACKSON VISITIORS CENTER,39,26,3,4,27,Good,Seattle,WA,...,0,0,0,0,0,0,0,0,0,0
6493,41,MT RAINIER - JACKSON VISITIORS CENTER,41,38,2,6,30,Good,Seattle,WA,...,0,0,0,0,0,0,0,0,0,0

In [8]:
# Drop the Site Name, city and state collumns
df_OHE.drop(['Site Name (of Overall AQI)', 'city', 'state'], axis = 1, inplace = True)

In [9]:
df_OHE

,Overall AQI Value,Ozone,PM25,CO,PM10,NO2,AQI category,Date,Month,Year,...,MD,MI,MN,NC,NY,OH,OR,PA,TX,VA
0,74,15,74,7,26,21,Moderate,1,1,2023,...,0,0,0,0,0,0,0,0,0,0
1,73,19,73,7,19,28,Moderate,1,2,2023,...,0,0,0,0,0,0,0,0,0,0
2,55,19,55,6,31,25,Moderate,1,3,2023,...,0,0,0,0,0,0,0,0,0,0
3,37,21,37,3,17,25,Good,1,4,2023,...,0,0,0,0,0,0,0,0,0,0
4,54,20,54,5,19,29,Moderate,1,5,2023,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6489,83,45,83,6,11,17,Moderate,12,17,2023,...,0,0,0,0,0,0,0,0,0,0
6490,63,41,63,7,6,25,Moderate,12,20,2023,...,0,0,0,0,0,0,0,0,0,0
6491,56,40,56,6,8,25,Moderate,12,23,2023,...,0,0,0,0,0,0,0,0,0,0
6492,39,39,26,3,4,27,Good,12,26,2023,...,0,0,0,0,0,0,0,0,0,0
6493,41,41,38,2,6,30,Good,12,29,2023,...,0,0,0,0,0,0,0,0,0,0

In [10]:
# Shuffle the dataset
df_OHE = df_OHE.sample(frac = 1)
df_OHE.reset_index(drop=True, inplace=True)
df_OHE

,Overall AQI Value,Ozone,PM25,CO,PM10,NO2,AQI category,Date,Month,Year,...,MD,MI,MN,NC,NY,OH,OR,PA,TX,VA
0,30,27,30,6,8,21,Good,12,26,2023,...,0,0,0,0,0,0,0,0,0,1
1,30,30,29,9,8,21,Good,9,12,2023,...,0,1,0,0,0,0,0,0,0,0
2,84,84,54,6,23,33,Moderate,9,19,2023,...,0,0,0,0,0,0,0,0,0,0
3,58,38,58,8,14,25,Moderate,5,5,2023,...,0,0,0,0,0,0,0,1,0,0
4,48,48,23,3,11,18,Good,2,22,2023,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6489,49,49,46,6,10,15,Good,9,4,2023,...,0,0,0,1,0,0,0,0,0,0
6490,58,58,36,5,14,23,Moderate,6,3,2023,...,0,0,0,0,0,0,0,0,0,0
6491,67,67,25,7,36,49,Moderate,3,31,2023,...,0,0,0,0,0,0,0,0,0,0
6492,45,45,41,5,19,35,Good,5,18,2023,...,0,0,0,0,1,0,0,0,0,0
6493,26,26,14,3,5,6,Good,10,14,2023,...,0,0,0,0,0,1,0,0,0,0

In [11]:
df_OHE.to_csv('./data/OHE.csv', index = False)