In [24]:
import pandas as pd

df = pd.read_csv('Processing_01.csv')

In [25]:
df

,Date,Overall AQI Value,Site Name (of Overall AQI),Ozone,PM25,CO,PM10,NO2,AQI category,city,state
0,2023,74,REGIONAL OFFICE BUILDING,15,74,7,26,21,Moderate,Chicago,IL
1,2023,73,Hammond- 167th St,19,73,7,19,28,Moderate,Chicago,IL
2,2023,55,Hammond- 167th St,19,55,6,31,25,Moderate,Chicago,IL
3,2023,37,VILLAGE GARAGE,21,37,3,17,25,Good,Chicago,IL
4,2023,54,CHIWAUKEE PRAIRIE STATELINE,20,54,5,19,29,Moderate,Chicago,IL
...,...,...,...,...,...,...,...,...,...,...,...
6489,2023,83,MARYSVILLE - 7TH AVE (Marysville Junior High),45,83,6,11,17,Moderate,Seattle,WA
6490,2023,63,DARRINGTON - FIR ST (Darrington High School),41,63,7,6,25,Moderate,Seattle,WA
6491,2023,56,MARYSVILLE - 7TH AVE (Marysville Junior High),40,56,6,8,25,Moderate,Seattle,WA
6492,2023,39,MT RAINIER - JACKSON VISITIORS CENTER,39,26,3,4,27,Good,Seattle,WA
6493,2023,41,MT RAINIER - JACKSON VISITIORS CENTER,41,38,2,6,30,Good,Seattle,WA

In [34]:
# One hot encoding for Site Name
df_SN_OHE = pd.get_dummies(df['Site Name (of Overall AQI)'], dtype = int)

# Drop one column to avoid dummies variable trap
df_SN_OHE = df_SN_OHE.drop(['YORK (LANDFILL)'], axis = 'columns')
df_SN_OHE

,A420910013LAT/LON POINT IS OF CORNER OF TRAILER,Air Management Services Laboratory (AMS LAB),Aldino,Allen Park,Anaheim,Anaheim Near-Road,Ancora State Hospital,Andersen School,Anoka County Airport,Apple Valley,...,WASHINGTON HS,WATER PLANT,WEST 43RD AVENUE,WEST PHOENIX,WINTER PARK,Welby,West Johnston Co.,Widewater Elementary School,Wittkop Park,YACOLT - YACOLT RD
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6489,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6490,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6491,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6492,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6493,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
# One Hot Encoding for city
df_city_OHE = pd.get_dummies(df['city'], dtype = int)

# Drop one column to avoid dummies variable trap
df_city_OHE = df_city_OHE.drop(['Washington'], axis = 'columns')
df_city_OHE

,Athens,Baltimore,Boston,Charlotte,Chicago,Cleveland,Dallas,Denver,Detroit,Houston,...,Minneapolis,New York,Orlando,Philadelphia,Phoenix,Portland,Raleigh,Richmond,San Francisco,Seattle
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6489,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
6490,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
6491,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
6492,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
6493,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [38]:
# One Hot Encoding for state
df_state_OHE = pd.get_dummies(df['state'], dtype = int)

# Drop one column to avoid dummies variable trap
df_state_OHE = df_state_OHE.drop(['WA'], axis = 'columns')
df_state_OHE

      AZ  CA  CO  DC  FL  GA  IL  MA  MD  MI  MN  NC  NY  OH  OR  PA  TX  VA
0      0   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0
1      0   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0
2      0   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0
3      0   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0
4      0   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0
...   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
6489   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
6490   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
6491   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
6492   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
6493   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0

[6494 rows x 18 columns]

In [46]:
df_OHE = pd.concat([df, df_SN_OHE, df_city_OHE, df_state_OHE], axis = 'columns')
df_OHE

,Date,Overall AQI Value,Site Name (of Overall AQI),Ozone,PM25,CO,PM10,NO2,AQI category,city,...,MD,MI,MN,NC,NY,OH,OR,PA,TX,VA
0,2023,74,REGIONAL OFFICE BUILDING,15,74,7,26,21,Moderate,Chicago,...,0,0,0,0,0,0,0,0,0,0
1,2023,73,Hammond- 167th St,19,73,7,19,28,Moderate,Chicago,...,0,0,0,0,0,0,0,0,0,0
2,2023,55,Hammond- 167th St,19,55,6,31,25,Moderate,Chicago,...,0,0,0,0,0,0,0,0,0,0
3,2023,37,VILLAGE GARAGE,21,37,3,17,25,Good,Chicago,...,0,0,0,0,0,0,0,0,0,0
4,2023,54,CHIWAUKEE PRAIRIE STATELINE,20,54,5,19,29,Moderate,Chicago,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6489,2023,83,MARYSVILLE - 7TH AVE (Marysville Junior High),45,83,6,11,17,Moderate,Seattle,...,0,0,0,0,0,0,0,0,0,0
6490,2023,63,DARRINGTON - FIR ST (Darrington High School),41,63,7,6,25,Moderate,Seattle,...,0,0,0,0,0,0,0,0,0,0
6491,2023,56,MARYSVILLE - 7TH AVE (Marysville Junior High),40,56,6,8,25,Moderate,Seattle,...,0,0,0,0,0,0,0,0,0,0
6492,2023,39,MT RAINIER - JACKSON VISITIORS CENTER,39,26,3,4,27,Good,Seattle,...,0,0,0,0,0,0,0,0,0,0
6493,2023,41,MT RAINIER - JACKSON VISITIORS CENTER,41,38,2,6,30,Good,Seattle,...,0,0,0,0,0,0,0,0,0,0

In [50]:
# Drop the Site Name, city and state collumns
df_OHE.drop(['Site Name (of Overall AQI)', 'city', 'state'], axis = 1, inplace = True)

In [51]:
df_OHE

,Date,Overall AQI Value,Ozone,PM25,CO,PM10,NO2,AQI category,A420910013LAT/LON POINT IS OF CORNER OF TRAILER,Air Management Services Laboratory (AMS LAB),...,MD,MI,MN,NC,NY,OH,OR,PA,TX,VA
0,2023,74,15,74,7,26,21,Moderate,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2023,73,19,73,7,19,28,Moderate,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2023,55,19,55,6,31,25,Moderate,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2023,37,21,37,3,17,25,Good,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2023,54,20,54,5,19,29,Moderate,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6489,2023,83,45,83,6,11,17,Moderate,0,0,...,0,0,0,0,0,0,0,0,0,0
6490,2023,63,41,63,7,6,25,Moderate,0,0,...,0,0,0,0,0,0,0,0,0,0
6491,2023,56,40,56,6,8,25,Moderate,0,0,...,0,0,0,0,0,0,0,0,0,0
6492,2023,39,39,26,3,4,27,Good,0,0,...,0,0,0,0,0,0,0,0,0,0
6493,2023,41,41,38,2,6,30,Good,0,0,...,0,0,0,0,0,0,0,0,0,0

In [52]:
df_OHE.to_csv('OHE_data.csv', index = False)